/*NAV*/
/* Fixed navbar */
/*body {*/
    /*padding-top: 90px;*/
/*}*/

/* General sizing */
ul.dropdown-lr {
    width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }

    .dropdown-lr label {
        color: #eee;
    }
}

/*toogle*/
.toggle {
    min-width: 100px !important;
    height: 40px !important;
}

#thumbnail img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.image {
    height: 80px;
    max-width: 100%;
}

/*footer*/
.footer {
    margin-top: 20px;
    background: url(../images/bg.jpg) #222;
    padding: 20px 0;
    color: #999;
}

.footer h4 {
    color: #fff;
    border-bottom: 2px solid #131313;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a:hover {
    color: #fff;
}

.footer p.copyright {
    margin: 30px 0 0 0;
}

/*Elementos Search book*/

.thumbnail {
    line-height: 1;
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail img {
    width: 100%;
    /*height: 150px;*/
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #3131d3;
}

.caption {
    min-height: 230px;
    height: auto;
    overflow: hidden;
}

/*toogle line*/
.toggle {
    margin: 4px;
}

/*LIST*/
.listing-detail {
    margin-bottom: 10px;
    margin-top: 25px;
}

.listing-detail span {
    color: #fff;
    width: 19px;
    height: 19px;
    background-color: #555;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
    cursor: pointer;
}

.listing-detail span:hover {
    background: #337ab7;
}

/*carousel*/
.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/*detail*/

.details {
    margin-top: 15px;
}

.details IMG {
    margin-right: 25px;
}

.details abbr[title], acronym[title] {
    border-bottom: none;
}

.bold {
    font-weight: 700;
    color: #000000;
}

.important {
    color: #db3700;
}

/*LOGIN*/
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #d73803;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #e7552c;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #e7552c;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #d73803;
    border-color: #d73803;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #e7552c;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #e7552c;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #d73803;
    border-color: #d73803;
}